//Created by hh on 14-12-10.

#main
	.container
		section#adduser
			.hgroup
				h1 Add a season food here !
				h2 Fill in the normal information of food.
				ul.breadcrumb.pull-right
					li
						a(href='/adminIndex') Home
						span.divider /
					li.active Add season
		.row
			#leftcol.span12
				.new_user
					form
						.row
							.span4
							.span4
								//h4 Publish a new user
								.input-group
									span.input-group-addon &nbsp&nbsp&nbsp&nbsp&nbspName
									input.form-control(type='text' ng-model='season.name' id = "txt_name" placeholder="Name")
							.span4
						br
						.row
							.span4
							.span4
								.input-group
									span.input-group-addon Describe
									input.form-control(type='text' ng-model='season.description' placeholder="Your description")
							.span4
						br
						.row
							.span4
							.span1
								p(style='padding: 6px 12px;font-size: 14px;font-weight: normal;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc;border-radius: 4px;') Type
							.span2
								select(id = "sel_type" ng-model='season.type' style='width:100%;')
									option(value = 1) Fruit
									option(value = 2) Meat
									option(value = 3) Other
							.span4
						.row
							.span4
							.span1
								p(style='padding: 6px 12px;font-size: 14px;font-weight: normal;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc;border-radius: 4px;') Mounth
							.span2
								select(id = "sel_mounth" ng-model='season.mounth' style='width:100%;')
									option(value = 1) 1
									option(value = 2) 2
									option(value = 3) 3
									option(value = 4) 4
									option(value = 5) 5
									option(value = 6) 6
									option(value = 7) 7
									option(value = 8) 8
									option(value = 9) 9
									option(value = 10) 10
									option(value = 11) 11
									option(value = 12) 12
							.span4
						.row
							.span4
							.span1
								p(style='padding: 6px 12px;font-size: 14px;font-weight: normal;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc;border-radius: 4px;') Picture
							.span2
								input.form-control(type='file' name='files' ng-file-select="onFileSelect1($files)" multiple accept="image/*" style='background-color: #fff;border: 1px solid #ccc;border-radius: 4px;')
							.span5
						.row
							.span4
							.span4
								aside.widget.ads.clearfix(ng-if='photoSee')
									a(href='')
										img(src='{{season.photo}}')
							.span4
						br
						.row
							.span5
							.span3
								button.btn.btn-primary.btn-large.pull-left(ng-click='submitData()')
									span.glyphicon.glyphicon-ok &nbsp;Submit
							.span4
						.row
							.span4
							.span4
								output(id="result")
							.span4


	//p 欢迎来到添加用户系统
	//form(id = "formtest")
	//| 输入添加的用户信息
	//br
	//input(type = "text" id = "txt_name" name = "name" value = "姓名"
	//onfocus = "if(value == defaultValue) value = ''" onblur = "if(!value) value = defaultValue")
	//br
	//input(type = "text" id = "txt_account" name = "account" value = "用户账户"
	//onfocus = "if(value == defaultValue) value = ''" onblur = "if(!value) value = defaultValue")
	//br
	//input(type = "text" id = "txt_cellphone" name = "cellphone" value = "电话" onkeypress = "IsNum(event);"
	//onfocus = "if(value == defaultValue) value = ''" onblur = "if(!value) value = defaultValue")
	//br
	//input(type = "text" id = "txt_password" name = "password" value = "密码"
	//onfocus = "if(value == defaultValue) value = ''" onblur = "if(!value) value = defaultValue")
	//br
	//select(id = "sel_type" name = "usertype")
	//	option(value = 1)| 普通用户
	//	option(value = 2)| 营养师
	//	option(value = 3)| 管理员
	//select(id = "sel_sex" name = "usersex")
	//	option(value = 0)| 男
	//	option(value = 1)| 女
	//br
	//input(type = "button" value = "提交" onclick = "submitData();")
	//br
	//output(id="result")
	//这个方法是用来判定输入的是否为数字
	//我在想要是邮箱的话 正则表达式谁来写



