//Created by hh on 11/28/14
doctype
html(ng-app="administrator")
	head
		meta(charset='utf8')
		base(href='/')
		title 管理员系统
	body
	h1= '管理员系统'
	//p Welcome to operate
	form(id = "choose_form")
	请选择你需要的操作
	br
	a(href='/admin/addUser') 添加用户
	&nbsp
	a(href='/admin/getUser') 查找用户
	&nbsp
	a(href='/admin/addUser') 添加用户
	&nbsp
	a(href='/admin/addUser') 添加用户
	//input(type = "button" id = "add_user" value = "添加用户" onclick = "location.href = '/admin/addUser';")
	//&nbsp
	//input(type = "button" id = "remove_user" value = "删除用户" onclick = "location.href = '/admin/addUser';")
	//&nbsp
	//input(type = "button" id = "modify_user" value = "修改用户" onclick = "location.href = '/admin/addUser';")
	output(id="result")
block admin