//
   Created by mengchi on 12/10/14.

#main
    .container
        section#createTopic
            .hgroup
                h1 Create your own topic here !
                h2 You can share your idea with others here.
                ul.breadcrumb.pull-right
                    li
                        a(href='/index') Home
                        span.divider /
                    li.active Create Topic
            .span2
            .span8
                form
                    .row
                        .span8
                            .input-group
                                span.input-group-addon &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Title&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                input#topicname.form-control(type='text' ng-model='topicname')
                    br
                    .row
                        .span8
                            .input-group
                                span.input-group-addon Discription
                                textarea#content.form-control(type='text' ng-model='content' rows="5")
                    br
                    .row
                        .span4(style="margin-top:5px")
                            .input-group
                                div#myfile(onclick="file.click()")
                                    span.glyphicon.glyphicon-plus
                                        | &nbsp;&nbsp;Choose a picture
                                    input(type='file' id='file' name='files' ng-file-select="onFileSelect2($files)"  accept="image/*" style="display:none")
                        .span4(ng-if='photoSee')
                            a(href='')
                                img(src='{{picture}}')


                    .row.space50(style="margin-top:15px")
                        .row
                            .span8
                                button.btn.btn-primary.btn-large.pull-right(ng-click='createTopic()' style="margin-top:4px;")
                                    span.glyphicon.glyphicon-ok &nbsp;Create your Topic
