//Created by mengchi on 12/10/14.

#main
	.container
		section#Topic
			.hgroup
				h1
					| # {{topic.topicName}} #
				h2
					| {{topic.content}}
					h2
						span.glyphicon.glyphicon-time
							| {{topic.time}}&nbsp;&nbsp;
						a(href='')
							span.glyphicon.glyphicon-camera
							| &nbsp;&nbsp;{{topic.upload_count}} product

						a(href='#' data-toggle='modal', data-target='#myModal'  style="margin-left:50px")
							span.glyphicon.glyphicon-plus
							| upload one

						#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
							.modal-dialog
								.modal-content
									.modal-header
										button.close(type='button', data-dismiss='modal', aria-hidden='true')
											| ×
										h4#myModalLabel.modal-title
											| Upload you product
									.modal-body
										.row
											.span4
												.input-group
													span.input-group-addon Product Name
													input.form-control(type='text' name='title' ng-model='topicUpload.title' placeholder="Product Name")

										.row
											.span4(style="margin-top:5px")
												.input-group
													span.input-group-addon Product&nbsp; story&nbsp;
													textarea.form-control(type='text' name='content' ng-model='topicUpload.story' rows="3" placeholder="Product Story")

										.row
											.span4(style="margin-top:5px")
												.input-group
													div(onclick="file.click()")
														span.glyphicon.glyphicon-plus
															| &nbsp;&nbsp;Choose a picture
														input(type='file' id='file' name='files' ng-file-select="onFileSelect($files)"  accept="image/*" style="display:none")

									.modal-footer
										button.btn.btn-default(type='button', data-dismiss='modal' id="close")
											| close
										button.btn.btn-primary(type='button' ng-click="uploadProduct()")
											| upload
				ul.breadcrumb.pull-right
					li
						a(href='index.html') Home
						span.divider /
					li.active Topic

			#protfolio_container.portfolio_strict.row
				.portfolio_item.cat_travel.span4(ng-repeat="upload in uploads")
					.portfolio_photo(style="background-image:url({{upload.picture}})")
					a(href='')
						span.glyphicon.glyphicon-share
						p {{upload.title}}
					.portfolio_description
						h3
							a(href='') {{upload.title}}
				.pagination.pagination-centered(topicUpload-page page-object="uploadPage" click-function="list")

