//   Created by mengchi on 12/10/14.

#main(style='min-height:500px')
	.container
		section#topic
			.hgroup
				h1 All Topic
				h2
					| Enjoy the topic and find you need
				ul.breadcrumb.pull-right
					li
						a(href='index.html') Home
						span.divider /
					li.active Topic

			#protfolio_container.portfolio_strict.row
				.portfolio_item.cat_travel.span4(ng-repeat="topic in topics" style="height: 220px;")
					.portfolio_description
						h3
							a(href='/topic/topicDetail_angular/{{topic._id}}') # {{topic.topicName}} #
						br
						p {{topic.content}}
						br
						span.glyphicon.glyphicon-time
						| {{topic.time}}&nbsp;&nbsp;
						a(href='')
							span.glyphicon.glyphicon-camera
						|  {{topic.upload_count}} product

			.pagination.pagination-centered(topic-page page-object="pageing" click-function="list")