<head>
	<!-- Basic Meta Tags -->
  <meta charset="utf-8">
  <title>topFrame</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
  <!-- Styles -->
  <link href="css/styles.css" rel="stylesheet">

</head>       
<body>
  <!-- Header -->
  <header id="header">
    <div class="container">
      <div class="row t-container">
        <!-- Logo -->
        <div class="span3">
          <div class="logo" style="margin-top:5px">
            <a href="foodindex.html"><img src="img/logo-header.png" alt="" style="height:50px"></a>
          </div>            
        </div>

        <div class="span9">
          <nav class="navbar" style="margin-bottom:0px;margin-top:10px;margin-right:10px;height:60px">
            <!-- Menu -->
            <ul class="nav">
              <a href="index-2.html" title="" target="main" style="color:#000;">登录</a> | 
              <a href="about-us.html" title="" target="main" style="color:#000;">注册</a>              
            </ul>
          </nav>
        </div>
      </div>  
  </div> 
  </header>
  <!-- Header End -->

</body>
</html>
  