<!DOCTYPE html>
<head>
	<!-- Basic Meta Tags -->
  <meta charset="utf-8">
  <title>MINETT - Template by entiri</title>
	<meta name="description" content="MINETT - Responsive HTML Template by entiri">
	<meta name="keywords" content="minett, entiri, theme, template, corporate, clean, modern, bootstrap, creative, design">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styles -->
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/bootstrap-override.css" rel="stylesheet">

  <!-- Font Avesome Styles -->
  <link href="css/font-awesome/font-awesome.css" rel="stylesheet">
  
</head>       
<body>
  <!-- Header -->
  <header id="header" style="height:80px">
    <div class="container">
      <div class="row t-container">
        <div class="span6" style="width:600px">
          <nav class="navbar">
            <!-- Menu -->
            <ul class="nav">
              <li class="active"><a href="foodmain.html" title="">首页</a></li>
              <li><a href="about-us.html" title="">菜谱</a></li>                
              <li><a href="gallery.html" title="">博客</a></li>
              <li><a href="services.html" title="">话题</a></li>
              <li><a href="components.html" title="">个人中心</a>
			  <li><a href="components.html" title="">推广</a>
			  
			  <li><a href="components.html" title="">+ 发布</a>
                <!-- Submenu -->
  				<ul>
                  <li><a href="components.html" title="">发布菜谱</a></li>
                  <li><a href="pricing.html" title="">发布博客</a></li>
                  <li><a href="blog-detail.html" title="">发布话题</a></li>
  				  <li><a href="grid.html" title="">发布推广</a></li>
  				</ul>
                <!-- End Submenu -->                  
              </li>
            </ul>
          </nav>
        </div>
      </div>
  </div> 
  </header>
  <!-- Header End -->

  <div style="height:1000px">aa</div>
  
  <!-- JavaScripts -->
  <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script> 
	<script type="text/javascript" src="js/bootstrap.min.js"></script>  
	<script type="text/javascript" src="js/functions.js"></script>
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
  <script type="text/javascript" defer src="js/jquery.flexslider.js"></script>

</body>
</html>
  