<!DOCTYPE html>
<head>

    <!-- Styles -->
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/bootstrap-override.css" rel="stylesheet">

    <!-- Font Avesome Styles -->
    <link href="css/font-awesome/font-awesome.css" rel="stylesheet">

</head>
<body>
<!-- Content -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2>Create a recipe</h2>
            </div>

            <div class="span9">
                <!-- Blog Detail Content -->
                <div class="row">
                    <div class="span1">
                        <div class="blog-icon">
                            <i class="icon-camera"></i><br>
                            <h5>Share with people</h5>
                        </div>
                    </div>
                    <div class="span8">
                        <!-- Blog Form -->
                        <form class="form-comment" method="post" action="/service/recipe/create">
                            <div class="row">
                                <div class="span4">
                                    Recipe name<br>
                                    <input type="text" value="">
                                </div>
				<div class="span4">
                                    Your story with it <br>
                                    <input type="text" value="">
                                </div>
                            </div>

			    <div class="row">
                                <div class="span4">
                                    Difficulity
				    <select style="background: #1b3057;width: 100%;margin-top:10px;border: 0px;color: #fff;height:35px">
					<option>junior level</option>
					<option>middle level</option>
					<option>senior level</option>
				    </select>
                                </div>
                                <div class="span4">
                                    Time<br>
				    <select style="background: #1b3057;width: 100%;margin-top:10px;border: 0px;color: #fff;height:35px">
					<option>about 10 minutes</option>
					<option>10-30 minutes</option>
					<option>30-60 minutes</option>
					<option>more than 1 hour</option>
				    </select>
                                </div>
                            </div>

			    <div class="row">
                                <div class="span4">
                                    Metrial Name
                                </div>
                                <div class="span4">
                                    Metrial Amount
                                </div>
			    </div>
			    <div class="row">
				<div class="span4">
                                    <input type="text" value="">
                                </div>
                                <div class="span4">
                                    <input type="text" value="">
                                </div>
                            </div>
			    <div>
				<div class="span3">
                                    <button class="btn" style="height:40px;margin-left:-30px;line-height:0px" onclick="javascript:void(0)"> + Add one more metrial</button>
                                </div>
			    </div>
			    <div class="row">
                                <div class="span8">
                                    Cook step
                                </div>
                            </div>

			    <div class="row">
				<div class="span4">
                                    Step1 Description<br>
                                    <input type="text" value="">
                                </div>
                                <div class="span4">
                                    Picture<br>
                                    <input type="file">
                                </div>
                                
                            </div>
 			<div>
				<div class="span3">
                                    <button class="btn" style="height:40px;margin-left:-30px;line-height:0px" onclick="javascript:void(0)"> + Add one more step</button>
                                </div>
			    </div>
                            <div class="row space20"></div>

                            <div class="row">
                                <div class="span4 thank">
                                    Thank You for Your Recipe!
                                </div>
                                <div class="span4">
                                    <button class="btn f-right"><i class="icon-ok"></i> Create Recipe</button>
                                </div>
                            </div>
                        </form>
                        <!-- Blog Form End -->
                    </div>
                </div>
                <!-- Blog Detail Content End -->
            </div>

            <!-- Side Bar -->
            <div class="span3">
                <h3 class="p-t-0">Side Bar For Directions!</h3>
                <div class="search-box">
                    <a href="#" class="search-icon"><i class="icon-search"></i></a>
                    <input class="search" name="" value="Search">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->

<!-- JavaScripts -->
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" defer src="js/jquery.flexslider.js"></script>

</body>
</html>
  
