//
   Created by zhangcan on 14-11-28.
#main
    .container
        section
            .hgroup
                h1 Publish a new trade post here
                h2 Write more details and description to atttact customers take a interest in
                ul.breadcrumb.pull-right
                    li
                        a(href='/index') Home
                        span.divider /
                    li.active Publish trade post
            .row
                .span3
                .span9
                    .trade_post
                        form
                            .row
                                .span6
                                    p(style="") Title:

                            .row
                                .span6
                                    input(type="text" class="span6" ng-model='sale.title' placeholder="Title")

                            br
                            .row
                                .span6
                                    p(style='') Content:

                            .row
                                .span6
                                    textarea(rows="15" class="span6" ng-model="sale.content")

                            br
                            br
                            .row
                                .span5
                                    button.btn.btn-success.btn-large.pull-left(ng-click='publishTradePost()')
                                        span.glyphicon.glyphicon-ok &nbsp;Commit



