
//Created by zhaiyuan on 12/9/14.
#main(style='min-height:500px')
	.container
		section#listFriendStatus
			.hgroup
				h1 All Friend Status Blogs Here!
				h2 Enjoy the friend status blogs.
				ul.breadcrumb.pull-right
					li
						a(href='/index') Home
						span.divider /
					li.active Friend Status
		.row
			#leftcol.span8
				article.post(ng-repeat="blog in blogs")
					.post_header
						h3.post_title
							a(href='/attention/oneBlog/{{blog._id}}' id="{{$index}}") {{blog.title}}
						.post_sub
							span.glyphicon.glyphicon-time {{blog.create_at}} &nbsp;&nbsp;
								a(href='/attention/oneBlog/{{blog._id}}')
									span.glyphicon.glyphicon-comment {{blog.comment_count}} comments
					.post_content
						figure
							//a(href='/recipe/single')
								img(alt='0' src='{{recipe.photo}}')
						p {{blog.content}}
						a.btn.btn-primary(href='/attention/oneBlog/{{blog._id}}') Read More
				.pagination.pagination-centered(attention-page page-object="pageing" click-function="list")
			#sidebar.span4
				//input(ng-model='ccc')
				//|{{ccc}}
				aside.widget
					h4 Search
				aside.widget
					.search-box
						a.search-icon(href='/attention/getAllAttention/{{search}}')
							span.glyphicon.glyphicon-search(style='top:4px')
						input#search.search(ng-model='search' placeholder='search')
				aside.widget
					h4 Categories
						//ul.nav.nav-tabs.nav-stacked(id='myTab')
							li.active
								a(data-toggle="tab" href='#Recipe') Recipe
					li
						button.btn.btn-info(ng-click='toRecipe()') Recipe
					li
						button.btn.btn-info(ng-click='toBlog()') Blog
					li
						button.btn.btn-info(ng-click='toTopic()') Topic

