
//Created by zhaiyuan on 12/10/14.
#main
	.container
		section#blog
			.hgroup
				h1 All Blog
				h2
					| Enjoy the blog and find you need
				ul.breadcrumb.pull-right
					li
						a(href='index.html') Home
						span.divider /
					li.active Blog
			.row
				#leftcol.span8
					article.post(ng-repeat="blog in blogs")
						.post_header
							h3.post_title
								a(href='/blog/blogDetail_angular/{{blog._id}}')
									| {{blog.title}}
							.post_sub
								span.glyphicon.glyphicon-time
								| {{blog.create_at}}&nbsp;&nbsp;
								a(href='single_post.html#post_comments')
									span.glyphicon.glyphicon-comment
									| {{blog.comment_count}} comments
						.post_content
							figure
								a(href='single_post.html')
									img(alt='0', src='images/portfolio/p4.jpg')
							p
								h4 Tag: {{blog.tag}}
							a.btn.btn-primary(href='/blog/blogDetail_angular/{{blog._id}}') Read More
					.pagination.pagination-centered(recipe-page page-object="pageing" click-function="list")
				#sidebar.span4
					aside.widget
						h4 Blog Categories
						ul.nav.nav-tabs.nav-stacked
							li.active
								a(href='#') All
							li
								a(href='#') News
							li
								a(href='#') Press
					aside.widget
						h4 Categories
						li
							button.btn.btn-info(ng-click='toRecipe()') Recipe
						li
							button.btn.btn-info(ng-click='toBlog()') Blog
						li
							button.btn.btn-info(ng-click='toTopic()') Topic