head
    // Styles
    link(href='css/styles.css', rel='stylesheet')
   
  body
    // Footer
    footer#footer
      p(style='margin-top:-25px;text-align:center')
        | &copy Advance Traning Team 16
    // Footer End
