doctype html
html
  head
    // Basic Meta Tags
    meta(charset='utf-8')  
    title NourritureTeam16
    meta(name='description', content='NourritureTeam16 AdvancedTraining1')
    meta(name='keywords', content='Nourriture, Team16, Advanced Training1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    link(href='img/favicon.png', rel='icon', type='image/png')
  
  frameset(rows='10%,85%,5%')
    frame#topFrame(src='top', name='top', scrolling='no', noresize='noresize', title='topFrame', frameborder='0')
    frame#mainFrame(src='main', name='main', scrolling='auto', noresize='noresize', title='mainFrame', frameborder='0', style='overflow-x:hidden')
    frame#bottomFrame(src='bottom', name='bottom', scrolling='no', noresize='noresize', title='bottomFrame', frameborder='0', style='overflow-x:hidden')
