extends totalLayout

block team
  #content(style='min-height:70%')
    div(style='height:1000px') 啊啊啊

      div(ng-init="list = ['Chrome', 'Safari', 'Firefox', 'IE'] ")
      input(ng-model='list', ng-list='')
      input(ng-model='list', ng-list='')
      pre.
        list={{list}}

      br

      ol
        li(ng-repeat='item in list')
          | {{item}}