//Created by cmm on 11/26/14.
form
	table(border='1')
		tr
			td
				| RecipeName
			td(colspan='3')
				input(type='text' ng-model='recipe.recipeName')
		tr
			td
				| Your story with it
			td(colspan='3')
				input(type='text' ng-model='recipe.description')
		tr
			td
				| Difficultity
			td
				select(ng-model='recipe.difficult')
					option Junior Level
					option Middle Level
					option Senior Level
			td
				| Cook Time
			td
				select(ng-model='recipe.cookTime')
					option About 10 minutes
					option 10 - 30 minutes
					option 30 - 60 minutes
					option More than 60 minutes
		tr
			td
				| Material
			td(colspan='3' align='center')
				button(ng-click='moreMaterial()') +
				| &nbsp; &nbsp; &nbsp;
				button(ng-click='lessMaterial()') -
		tr
			td(colspan='4')
				table#materialTable
					tr
						td
							| Material Name
						td
							input(type='text' name='materialName')
						td
							| Material Amount
						td
							input(type='text' name='amount')
		tr
			td
				| Step
			td(colspan='3' align='center')
				button(ng-click='moreStep()') +
				| &nbsp; &nbsp; &nbsp;
				button(ng-click='lessStep()') -
		tr
			td(colspan='4')
				table#stepTable
					tr
						td
							| Step Description
						td
							input(type='text' name="stepExplain")
						td
							| Upload Photo
						td
							input(type='file' name='files' ng-file-select="onFileSelect($files)" multiple accept="image/*")
							| {{succ}}
		tr
			td(colspan='4' align='right')
				button(ng-click='createRecipePage()') + Create your recipe