//Created by cmm on 11/26/14.
#main
	.container
		section#createRecipe
			.hgroup
				h1 Create your own recipe here !
				h2 Fill in the normal information of this food, upload several pictures to exolain how to cook it. Do a good job, people will follow your steps.
				ul.breadcrumb.pull-right
					li
						a(href='/index') Home
						span.divider /
					li.active Create Recipe
		.row
			#leftcol.span8
				.new_recipe
					h4 Publish a new recipe
						br
						br
						form
							.row
								.span3
									p(style='padding: 6px 12px;font-size: 14px;font-weight: normal;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc;border-radius: 4px;') Difficultity
								.span5
									select(ng-model='recipe.difficult' style='width:100%')
										option Junior Level
										option Middle Level
										option Senior Level
							.row
								.span3
									p(style='padding: 6px 12px;font-size: 14px;font-weight: normal;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc;border-radius: 4px;') Cook Time
								.span5
									select(ng-model='recipe.cookTime' style='width:100%')
										option About 10 minutes
										option 10 - 30 minutes
										option 30 - 60 minutes
										option More than 60 minutes
							.row
								.span8
									.input-group
										span.input-group-addon RecipeName
										input.form-control(type='text' ng-model='recipe.recipeName' placeholder="RecipeName")
							br
							.row
								.span8
									.input-group
										span.input-group-addon Your story with it
										input.form-control(type='text' ng-model='recipe.description' placeholder="Your story with it")
							br
							.row
								.span3
									p(style='padding: 6px 12px;font-size: 14px;font-weight: normal;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc;border-radius: 4px;') Material
								.span4
									button.btn.btn-link.pull-left(ng-click='moreMaterial()')
										span.glyphicon.glyphicon-plus Add one
									button.btn.btn-link.pull-right(ng-click='lessMaterial()')
										span.glyphicon.glyphicon-minus Delete one
							.row#materialList
								.span4
									.input-group
										span.input-group-addon Material Name
										input.form-control(type='text' name='materialName' placeholder="Material Name")
								.span4
									.input-group
										span.input-group-addon Material Amount
										input.form-control(type='text' name='amount' placeholder="Material Amount")
							br
							.row
								.span3
									p(style='padding: 6px 12px;font-size: 14px;font-weight: normal;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc;border-radius: 4px;') Step
								.span4
									button.btn.btn-link.pull-left(ng-click='moreStep()')
										span.glyphicon.glyphicon-plus Add one
									button.btn.btn-link.pull-right(ng-click='lessStep()')
										span.glyphicon.glyphicon-minus Delete one

							.row#stepList
								.span8
									.input-group
										span.input-group-addon Step Description
										input.form-control(type='text' name='stepExplain' placeholder="Step Description")
								.span3
									p(style='padding: 6px 12px;font-size: 14px;font-weight: normal;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc;border-radius: 4px;') Upload Photo
								.span4
									input.form-control(type='file' name='files' ng-file-select="onFileSelect($files)" multiple accept="image/*" style='background-color: #fff;border: 1px solid #ccc;border-radius: 4px;')
								.span8
									.input-group
										span.input-group-addon Step Description
										input.form-control(type='text' name='stepExplain' placeholder="Step Description")
								.span3
									p(style='padding: 6px 12px;font-size: 14px;font-weight: normal;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc;border-radius: 4px;') Upload Photo
								.span5
									input.form-control(type='file' name='files' ng-file-select="onFileSelect($files)" multiple accept="image/*" style='background-color: #fff;border: 1px solid #ccc;border-radius: 4px;')
							.row.space50
							.row
								.span8
									button.btn.btn-primary.btn-large.pull-right(ng-click='createRecipePage()')
										span.glyphicon.glyphicon-ok &nbsp;Create your recipe
			#sidebar.span4

